##############################
# gitignore for EagleSat-2 MDE 
##############################

# Code Coposer Studio
Debug
Release
Debug/
Release/
*.config
*.launches
MDE_UART_CCS.map
MDE_MART_CCS_linkinfo.xml

# shit picked up from VS Code
.vscode/

# DO NOT add these File types to the gitignore (According to Source control with CCS Document)
# .ccsproject			# contains priject information specific to CCS
# .cproject				# Eclipse CDT Project files
# .project				# Eclipse CDT Project files
# .settings folder		# Elciple folder with settings for the project
# makefile.defs			
